{% extends "base.html" %}
{% block title %}
    記事一覧ページ
    {% endblock %}
{% block content %}
    <div class="container my-4">
        <div class="text-center mb-4">
            <h2>えいえいダイアリー</h2>
            <p>近況報告などゆるく書いています。
            <br>勉強したこととか、日々のちょっとしたことなどなど。</p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            {% for post in posts %}
            <div class="col">
                <div class="card">
                    {% if post.img_name %}
                        <img src="{{ url_for('static',filename='img/' + post.img_name)}}" class="card-img-top">
                    {% else %}
                        <img src="{{ url_for('static',filename='img/default.png')}}" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.body[:10] }}</p>
                    <p>投稿日: {{ post.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
                    <a href="{{ url_for('readmore',post_id=post.id)}}" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}